*{
margin:0;
padding:0;
}
body{
    background-color: rgba(128, 128, 128, 0.247);
}

.container-navbar{
    background-color: rgb(133, 168, 136);
    display: flex;
    justify-content: space-between;
}

.logo{
    margin:2px 20px;
    font-family:cursive;
}
.navbar-links{
    width: 450px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar-links a{
    text-decoration: none;
    color:black;
    font-size: large;
    font-weight: 600;
}
.navbar-links a:hover{
    transform: scale(1.15);
    color: rgba(0, 0, 0, 0.822);
}

.container-jumbotron{
    width: 50vw;
    height: 50vh;
    margin:auto;
    padding-top: 25vh;
}

.name{
    font-size: 3rem;
    font-family: cursive;
    color: rgb(5, 49, 5);
}

.position{
    letter-spacing: 2.5px;
    color: rgba(5, 49, 5, 0.952);
}

.description{
    margin-top: 30px;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 1px;
    color: rgba(5, 49, 5, 0.87);
}

.container-about{
    background-color: rgb(35, 35, 39);
    height: 100vh;
}

.about-title{
    text-align: center;
    margin-top: 100px;
    padding-top: 30px;
    color:white;
}