*{
margin:0;
padding:0;
}
body{
    background-color: rgba(128, 128, 128, 0.247);
}

.container-navbar{
    background-color: rgb(133, 168, 136);
    display: flex;
    justify-content: space-between;
}

.logo{
    margin:2px 20px;
    font-family:cursive;
}
.navbar-links{
    width: 450px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar-links a{
    text-decoration: none;
    color:black;
    font-size: large;
    font-weight: 600;
}
.navbar-links a:hover{
    transform: scale(1.15);
    color: rgba(0, 0, 0, 0.822);
}

.container-jumbotron{
    width: 50vw;
    height: 50vh;
    margin:auto;
    padding-top: 25vh;
}

.name{
    font-size: 3rem;
    font-family: cursive;
    color: rgb(5, 49, 5);
}

.position{
    letter-spacing: 2.5px;
    color: rgba(5, 49, 5, 0.952);
}

.description{
    margin-top: 30px;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 1px;
    color: rgba(5, 49, 5, 0.87);
}

.container-about{
    
    background-color: rgb(35, 35, 39);

    height: 158vh;
}
.about{
     display: flex;
     flex-direction: column;
    width: 70vw;
    height: 60vh;
 
    
}

.about-title{
    text-align: center;
    margin-top: 100px;
    padding-top: 30px;
    color:white;
}
.title-text{
    position: relative;
    left: 14em;
   top: -15rem;
    
    color: aqua;
}

.image1{ 
    position: relative;
    top: 2em;
    left: 2em;
    width: 20vw;
    height: 40vh;
    
}
.image2{
    position: relative;
    margin-right: 2rem;
   
    width: 30vw;
    height: 40vh;
}
.information{
    position: relative;
    left: 26rem;
    font-size: 1.4rem;
    top: -10em;
    color: aqua;
}
.title-skills{
    position: relative;
   
    top: auto;
    left: auto;
    color: skyblue
}
.skills{
    position: relative;
    color: brown;
    
    left: 2em;

}
.image3{
    position: relative;
    top: -5em;
    left: 2em;
    width: 30vw;
    height: 40vh;
}
.title-project{
    position: relative;
    top: -15em;
    left: 22em;
    color: darkgreen;

}


.location{

    height: 100vh;
    background-color: rgba(63, 70, 109, 0.192);

}
